* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(213, 27%, 6%);
    --bg-light: hsl(0 0% 9%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 39%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(27, 100%, 47%);
    --secondary: hsl(205, 31%, 42%);
    --danger: hsl(9 26% 64%);
    --warning: hsl(52 19% 57%);
    --success: hsl(146 17% 59%);
    --info: hsl(217 28% 65%);
}

body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    color: var(--text);
}

p {
    color: var(--text-muted);
}

label {
    color: var(--text-muted);
    cursor: pointer;
}

.primary-btn {
    border: white solid;
    color: var(--text);
    width: 140px;
    display: flex;
    justify-content: space-around;
    background-color: var(--primary);
    padding: 3px 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .55s ease;
}

.primary-btn > button {
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.primary-btn > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.primary-btn > .icon > .fa-solid {
    font-size: 15px;
}

.primary-btn:hover,
.primary-btn > .icon {
    background-color: var(--bg-dark);
    border: 1px solid var(--primary);
}

/* Secondary button style */
.secondary-btn {
    width: 140px;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary);
    padding: 3px 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .55s ease;
}

.secondary-btn > button {
    font-weight: 600;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.secondary-btn > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.secondary-btn > .icon > .fa-solid {
    font-size: 15px;
}

.secondary-btn:hover,
.secondary-btn > .icon {
    background-color: var(--bg-dark);
    border: 1px solid var(--secondary);
}

header {
    z-index: 1000;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: hsl(300, 0%, 4%, 0.1);
    backdrop-filter: blur(5px);
    padding: 35px 7px;
    display: flex;
    align-items: center;
    transition: all .50s ease;
}

header > .navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 0px;
    box-sizing: border-box;
}

header > .navbar > .left-content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
}

header > .navbar > .left-content > img {
    width: 50px;
    height: 70px;
    border-radius: 50%;
}

header > .navbar > .left-content > a {
    font-family: "Playwrite NO", sans-serif;
    color: var(--text);
    margin-left: 1%;
}

header > .navbar > .nav-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

header > .navbar > .nav-links a {
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

header > .navbar > .nav-links a:hover {
    border-bottom: 2px solid var(--text);
}

header > .navbar > .nav-links a {
    text-decoration: none;
    color: var(--text);
}

.right-content {
    height: 60px;
    width: 140px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-bars {
    z-index: 1001;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
    display: none !important;
}


/* ********* */
/* Hero section */
.about-hero {
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    transition: all .55s ease;
}

.about-hero > .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.about-hero > .hero-description > .hero-header {
    transition: all .55s ease;
}

.about-hero > .hero-description > .hero-header > h1 {
    font-size: 50px;
    margin-bottom: 15px;
    transition: all .55s ease;
}

.about-hero > .hero-description > .hero-header > p {
    color: var(--text-muted);
    font-size: 17px;
    transition: all .55s ease;
}

.about-hero > .hero-img {
    display: flex;
    justify-content: center;
    align-items: start;
    transition: all .55s ease;
}

.about-hero > .hero-img > img {
    width: 60%;
    border-radius: 10px;
    transition: all .55s ease;
}


/* ********* */
/* Journy section */
.journy-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 10% 100px 10%;
    text-align: center;
}

/* ********* */
/* Mission section */
.mission-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10% 10%;
    gap: 20px;
}

.mission-and-values {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 30px;
}

.mission h1 {
    margin-bottom: 20px;
}

.mission p {
    text-align: start;
}

.values h1 {
    margin-bottom: 20px;
}

.values ul {
    text-align: start;
    
}

.values ul li {
    margin-top: 10px;
    color: var(--text-muted);
}


/* ********* */
/* Footer section */
footer {
    background-image: url(./images/bg.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.shop-description > h1 {
    font-family: "Playwrite NO", sans-serif;
}

.socials-links {
    margin-top: 10px;
}

.socials-links a {
    font-size: 20px;
    margin-left: 10px;
    color: var(--text);
}

.shop-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

.shop-links > .links > ul {
    margin-top: 10px;
}

.shop-links > .links > ul li {
    margin-top: 10px;
}

.shop-links > .links > ul li a {
    color: var(--text);
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.shop-links > .links > ul li a:hover {
    border-bottom: 2px solid white;
}

.footer-cr {
    display: flex;
    justify-content: space-between;
    border-top: var(--border) solid;
    padding-top: 10px;
}

.footer-cr a {
    color: var(--text);
}


@media (max-width: 767px) {
    header {
        padding: 25px 7px;
    }

    header > .navbar > .nav-links {
        display: none;
    }

    .fa-bars {
        display: block !important;
    }

    .about-hero {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .about-hero > .hero-description > .hero-header > h1 {
        font-size: 40px;
    }

    .shop-links {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-left: auto;
        text-align: end;
    }

    .shop-description h1 {
        font-size: 20px;
    }

    .mission-and-values {
    /* display: grid; */
    grid-template-columns: repeat(1, 1fr);
    /* gap: 3rem;
    margin-top: 30px; */
}
}